<a class="govuk-back-link" @Html.ActionLink("Back", "Enter_Details", "Check")</a>
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@* <a class="govuk-back-link-nolink"></a> *@

<div class="govuk-grid-row">
    <div id="content" class="govuk-grid-column-two-thirds" data-type="Not_Eligible">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    May not be eligible
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    The children of this parent or guardian may not be eligible for free school meals.
                </p>
                <p class="govuk-body">The parent or guardian can appeal, but you’ll need to ask them for supporting evidence.</p>
                <p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="~/Home/Guidance">See a complete list of acceptable evidence (opens in new tab)</a>.</p>
            </div>
        </div>

        <h1 class="govuk-heading-l">Make an appeal</h1>

        <p class="govuk-body">You'll be told how to send the local authority supporting evidence after you've made an appeal.</p>

        @Html.ActionLink("Appeal now", "Enter_Child_Details", "Check", null, new { @class = "govuk-button" })

        <p class="govuk-body">
            Alternatively, you can contact the
            <a href="@Configuration["ContactUsUrl"]" class="govuk-link">
                Department for Education support desk
            </a>
            or email them at
            <a href="mailto:@Configuration["SupportEmail"]" class="govuk-link">
                @Configuration["SupportEmail"]
            </a>
            to request a separate check.
        </p>



        <p>@Html.ActionLink("Return to dashboard", "Index", "Home")</p>
    </div>
</div>