@using CheckYourEligibility.Admin.ViewModels
@model ApplicationDetailViewModel

@{
    Dictionary<string, string> statusColor = new Dictionary<string, string>
    {
        {"Entitled", "govuk-tag--green"},
        {"EvidenceNeeded", "govuk-tag--light-blue"},
        {"Receiving", "govuk-tag--pink"},
        {"SentForReview", "govuk--tag-blue"},
        {"ReviewedEntitled", "govuk--tag-green"},
        {"ReviewedNotEntitled", "govuk--tag-red"}
    };

    Dictionary<string, string> statusName = new Dictionary<string, string>
    {
        {"Entitled", "Entitled"},
        {"EvidenceNeeded", "Evidence Needed"},
        {"Receiving", "Receiving Entitlement"},
        {"SentForReview", "Sent for Review"},
        {"ReviewedEntitled", "Reviewed Entitled"},
        {"ReviewedNotEntitled", "Reviewed Not Entitled"}
    };

}

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Parent or guardian
        </h2>

        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                @* //action link placeholder *@
            </li>
        </ul>
    </div>

    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ParentName
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ParentDob
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                @if (!string.IsNullOrEmpty(Model.ParentNI))
                {
                    <dt class="govuk-summary-list__key">
                        National Insurance number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ParentNI
                    </dd>
                }
                else
                {
                    <dt class="govuk-summary-list__key">
                        Asylum support reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ParentNas
                    </dd>
                }
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ParentEmail
                </dd>
            </div>

        </dl>
    </div>
</div>

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">

        <h2 class="govuk-summary-card__title">
            Child details Reference :- @Model.Reference
        </h2>

        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                @* //change link placeholder *@
            </li>
        </ul>

    </div>

    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ChildName
                </dd>
            </div>
            @{
                var organisationCategory = ViewData["OrganisationCategory"] as string;
            }

            @if (organisationCategory == "Local Authority")
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.School
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ChildDob
                </dd>
            </div>

            @if (Model.Status != "SentForReview")
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status of application
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag @statusColor[Model.Status]">
                            @statusName[Model.Status]
                        </strong>
                    </dd>
                    <dd class="govuk-summary-list__value">
                        @if (Model.Status == "EvidenceNeeded")
                        {
                            @Html.ActionLink("Send for review", "ApplicationDetailAppealConfirmation", "application", new { id = Model.Id }, new { @class = "govuk-button govuk-button--primary" })
                        }
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>


