@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using CheckYourEligibility_FrontEnd.ViewModels
@model ApplicationDetailViewModel

@{
    ViewData["Title"] = "Application approved";
}

<div class="govuk-grid-column-two-thirds">
    @* <a class="govuk-back-link" href="#" onclick="history.back(); return false;">Back</a> *@
    <a class="govuk-back-link-nolink"></a>

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">@ViewData["Title"]</h1>
        <div class="govuk-panel__body">
            Application reference number<br><strong>@Model.Reference</strong>
        </div>
    </div>

    <h2 class="govuk-heading-m">What to do next</h2>
    <p class="govuk-body">
        Tell all relevant schools about your decision.
    </p>
    <p class="govuk-body">
        If you need to find the application again, you can @Html.ActionLink("search all records", "Search", "Application").
    </p>
    <p class="govuk-body">
        <a href="@Configuration["FeedbackUrl"]" target="_blank" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
    <div class="govuk-button-group">
        @Html.ActionLink("Confirm another application", "PendingApplications", "Application", null, new { @class = "govuk-link" })
        @Html.ActionLink("Return to dashboard", "Index", "Home", null, new { @class = "govuk-link" })
    </div>
</div>