@using CheckYourEligibility_FrontEnd.ViewModels
@model PeopleSelectionViewModel;

@{
    ViewData["Title"] = "Finalise applications (" + @ViewBag.TotalRecords + ")";
    ViewData["Layout"] = "full";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
@* <a class="govuk-back-link-nolink"></a> *@

<div class="moj-page-header-actions">
    <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    </div>
</div>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body">All the children in the table on this page are entitled to free school meals. Now you should finalise their applications.</p>
        </div>
    </div>
</div>
<div class="govuk-!-padding-bottom-3"></div>

<h2 class="govuk-heading-m">How to finalise</h2>
<ol>
    <li>If you haven't already, add the details of each application to your own system.</li>
    <li>Select the records you've added using the tick boxes.</li>
    <li>Click 'Finalise applications'.</li>
</ol>
<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full @(string.IsNullOrEmpty(errorMessage) ? "" : "govuk-form-group--error")">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @errorMessage
            </p>
        }
        @using (Html.BeginForm("FinaliseSelectedApplications", "Application", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
        {
            <div class="moj-button-action">

                <input type="submit" name="operation" id="submit" value="Finalise applications" class="govuk-button  @(string.IsNullOrEmpty(errorMessage) ? "" : "govuk-file-upload--error")" data-module="govuk-button" />

                @Html.ActionLink("Download all files", "FinalisedApplicationsdownload", "Application", null, new { @class = "govuk-button govuk-button--secondary" })
            </div>

            <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" id="select-all"></th>
                        <th class="govuk-table__header" scope="col">Reference</th>
                        <th class="govuk-table__header" scope="col">Parent / Guardian</th>
                        <th class="govuk-table__header" scope="col">Child</th>
                        <th class="govuk-table__header" scope="col">Child date of birth</th>
                        <th class="govuk-table__header" scope="col"> Status</th>
                        <th class="govuk-table__header" scope="col">Submission date</th>
                    </tr>
                </thead>

                @Html.EditorFor(model => model.People)
            </table>
            <nav class="govuk-pagination" role="navigation" aria-label="results navigation">
                <ul class="govuk-pagination__list">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="@Url.Action("FinaliseApplications", new { PageNumber = ViewBag.CurrentPage - 1 })">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="govuk-pagination__item @(ViewBag.CurrentPage == i ? "govuk-pagination__item--current" : "")">
                            <a class="govuk-link govuk-pagination__link" href="@Url.Action("FinaliseApplications", new { PageNumber = i })">@i</a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="@Url.Action("FinaliseApplications", new { PageNumber = ViewBag.CurrentPage + 1 })">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>