@using CheckYourEligibility_FrontEnd.ViewModels
@using Newtonsoft.Json
@model SearchAllRecordsViewModel;

@{
    ViewData["Title"] = "Search all records";
    ViewData["Layout"] = "full";
    int recordsPerPage = 10;
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalRecords = ViewBag.TotalRecords;
    int totalPages = (int)Math.Ceiling((double)totalRecords / recordsPerPage);

    Dictionary<string, string> statusColor = new Dictionary<string, string>
    {
        {"Entitled", "govuk-tag--green"},
        {"EvidenceNeeded", "govuk-tag--light-blue"},
        {"Receiving", "govuk-tag--pink"},
        {"SentForReview", "govuk--tag-blue"},
        {"ReviewedEntitled", "govuk--tag-green"},
        {"ReviewedNotEntitled", "govuk--tag-red"}
    };

    Dictionary<string, string> statusName = new Dictionary<string, string>
    {
        {"Entitled", "Entitled"},
        {"EvidenceNeeded", "Evidence Needed"},
        {"Receiving", "Receiving Entitlement"},
        {"SentForReview", "Sent for Review"},
        {"ReviewedEntitled", "Reviewed Entitled"},
        {"ReviewedNotEntitled", "Reviewed Not Entitled"}
    };
}

@if (!ViewData.ModelState.IsValid)
{
    ViewData["Title"] = "Error: Check Details";
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
}


@{
    var applicationSearchJson = TempData["ApplicationSearch"] as string;
    var applicationSearch = string.IsNullOrEmpty(applicationSearchJson) ? new ApplicationSearch() : JsonConvert.DeserializeObject<ApplicationSearch>(applicationSearchJson);
    var selectedStatus = applicationSearch.Status?.ToString();
}


<a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
@* <a class="govuk-back-link-nolink"></a> *@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            @ViewData["Title"]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-filter-layout">
            <div class="moj-filter-layout__filter">
                <div class="moj-filter">
                    <div class="moj-filter__header">
                        <h2 class="govuk-heading-m">Filter</h2>
                    </div>
                    <div class="moj-filter__content">
                        @* <div class="moj-filter__selected">
                            <div class="moj-filter__selected-heading">
                                <div class="moj-filter__heading-title">
                                    <h2 class="govuk-heading-m">Selected filters</h2>
                                </div>
                                <div class="moj-filter__heading-action">
                                    <p>
                                        <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="clearFilters()">Clear filters</a>
                                    </p>
                                </div>
                            </div>
                        </div> *@

                        <div class="moj-filter__options">
                            <form asp-controller="Application" asp-action="SearchResults" method="post" class="form">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            <h1 class="govuk-fieldset__heading">Child last name</h1>
                                        </legend>
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="ApplicationSearch.ChildLastName"></span>
                                        </p>
                                        <input id="ChildLastName" class="govuk-input @(ViewData.ModelState["ChildLastName"]?.Errors.Count > 0 ? "govuk-input--error" : "")" type="text" name="ChildLastName" value="@applicationSearch.ChildLastName" placeholder="Child surname">
                                    </fieldset>
                                </div>

                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            <h1 class="govuk-fieldset__heading">Parent or guardian last name</h1>
                                        </legend>
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="ApplicationSearch.ParentLastName"></span>
                                        </p>
                                        <input id="ParentLastName" class="countryAutocomplete govuk-input @(ViewData.ModelState["ParentLastName"]?.Errors.Count > 0 ? "govuk-input--error" : "")" type="text" name="ParentLastName" value="@applicationSearch.ParentLastName" placeholder="Parent last name">
                                    </fieldset>
                                </div>

                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            <h1 class="govuk-fieldset__heading">Reference number</h1>
                                        </legend>
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="ApplicationSearch.Reference"></span>
                                        </p>
                                        <input id="Reference" class="govuk-input @(ViewData.ModelState["Reference"]?.Errors.Count > 0 ? "govuk-input--error" : "")" type="text" name="Reference" value="@applicationSearch.Reference" placeholder="Reference number">
                                    </fieldset>
                                </div>

                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            <h1 class="govuk-fieldset__heading">Status</h1>
                                        </legend>
                                        <div class="govuk-form-group">
                                            <select class="govuk-select" id="Status" name="Status">
                                                <option selected="@(selectedStatus == null ? true : false)" value="">All statuses</option>
                                                <option selected="@(selectedStatus == "Entitled" ? true : false)" value="Entitled">Entitled</option>
                                                <option selected="@(selectedStatus == "EvidenceNeeded" ? true : false)" value="EvidenceNeeded">Evidence needed</option>
                                                <option selected="@(selectedStatus == "SentForReview" ? true : false)" value="SentForReview">Sent for review</option>
                                                <option selected="@(selectedStatus == "ReviewedEntitled" ? true : false)" value="ReviewedEntitled">Reviewed entitled</option>
                                                <option selected="@(selectedStatus == "ReviewedNotEntitled" ? true : false)" value="ReviewedNotEntitled">Reviewed not entitled</option>
                                                <option selected="@(selectedStatus == "Receiving" ? true : false)" value="Receiving">Receiving entitlement</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" role="group">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Child date of birth
                                        </legend>
                                        <span asp-validation-for="ApplicationSearch.ChildDob" class="govuk-error-message"></span>
                                        <div class="govuk-date-input" id="ChildDob">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="ChildDOBDay">
                                                        Day
                                                    </label>
                                                    <input asp-for="ApplicationSearch.ChildDobDay" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ChildDob.ChildDobDay"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="ChildDobDay" name="ChildDobDay" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Day" value="@applicationSearch.ChildDobDay">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="ChildDobMonth">
                                                        Month
                                                    </label>
                                                    <input asp-for="ApplicationSearch.ChildDobMonth" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ChildDob.ChildDobMonth"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="ChildDobMonth" name="ChildDobMonth" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Month" value="@applicationSearch.ChildDobMonth">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="ChildDobYear">
                                                        Year
                                                    </label>
                                                    <input asp-for="ApplicationSearch.ChildDobYear" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ChildDob.ChildDob"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="ChildDobYear" name="ChildDobYear" inputmode="text" maxlength="4" type="text" inputmode="numeric" aria-label="Year" value="@applicationSearch.ChildDobYear">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Parent or guardian date of birth
                                        </legend>
                                        <span asp-validation-for="ApplicationSearch.ParentDob" class="govuk-error-message"></span>
                                        <div class="govuk-date-input" id="ParentDob">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="PGDOBDay">
                                                        Day
                                                    </label>
                                                    <input asp-for="ApplicationSearch.PGDobDay" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ParentDob.PGDobDay"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="PGDobDay" name="PGDobDay" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Day" value="@applicationSearch.PGDobDay">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="PGDOBMonth">
                                                        Month
                                                    </label>
                                                    <input asp-for="ApplicationSearch.PGDobMonth" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ParentDob.PGDobMonth"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="PGDobMonth" name="PGDobMonth" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Month" value="@applicationSearch.PGDobMonth">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="PGDOBYear">
                                                        Year
                                                    </label>
                                                    <input asp-for="ApplicationSearch.PGDobYear" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ParentDob.PGDobYear"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="PGDobYear" name="PGDobYear" inputmode="text" maxlength="4" type="text" inputmode="numeric" aria-label="Year" value="@applicationSearch.PGDobYear">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <button class="govuk-button govuk-button HO-button-white moj-button-menu__item govuk-!-margin-top-6" data-module="govuk-button">
                                    Generate results
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="moj-filter-layout__content">
                <div class="moj-action-bar">
                    <div class="moj-action-bar__filter"></div>
                    <div class="moj-button-menu">
                        <div class="moj-button-menu__wrapper">
                        </div>
                    </div>
                </div>
            </div>
            <div class="moj-filter-layout__content">
                <div class="moj-scrollable-pane">
                    <div class="govuk-page-header govuk-page-header-customisation">
                        <h2 class="govuk-heading-m govuk-heading-m-customisation">
                            Showing <span id="resultCount">@ViewBag.TotalRecords</span> results
                        </h2>
                        @Html.ActionLink("Export as CSV", "ExportSearchResults", "Application", null,
                                 new
                                 {
                                     @class = "govuk-button govuk-button--secondary",
                                     role = "button",
                                     draggable = "false",
                                     data_module = "govuk-button"
                                 })
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="moj-filter-layout">
                                <div class="moj-filter-layout__content">
                                    <div class="moj-scrollable-pane">
                                        <div class="moj-scrollable-pane">
                                            @if (Model.People != null && Model.People.Any())
                                            {
                                                <table class="govuk-table" id="resultsTable">
                                                    <thead class="govuk-table__head">
                                                        <tr class="govuk-table__row">
                                                            <th class="govuk-table__header" scope="col">Reference</th>
                                                            <th class="govuk-table__header" scope="col">Child name</th>
                                                            <th class="govuk-table__header" scope="col">Child DOB</th>
                                                            <th class="govuk-table__header" scope="col">Date submitted</th>
                                                            <th class="govuk-table__header" scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var person in Model.People)
                                                        {
                                                            <tr>
                                                                <td class="govuk-table__cell">@Html.ActionLink(person.Person.Reference, person.DetailView, "application", new { id = person.Person.Id }, new { @class = "govuk-link" })</td>
                                                                <td class="govuk-table__cell">@(@person.Person.ChildFirstName + " " + person.Person.ChildLastName)</td>
                                                                <td class="govuk-table__cell">@Convert.ToDateTime(person.Person.ChildDateOfBirth).ToString("dd MMM yyyy")</td>
                                                                <td class="govuk-table__cell">@person.Person.Created.ToString("dd MMM yyyy")</td>
                                                                <td class="govuk-table__cell">
                                                                    <strong class="govuk-tag @statusColor[person.Person.Status]">
                                                                        @statusName[person.Person.Status]
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                var paginationModel = new PaginationPartialViewModel
                {
                    CurrentPage = ViewBag.CurrentPage,
                    TotalPages = ViewBag.TotalPages,
                    RecordsPerPage = ViewBag.RecordsPerPage,
                    TotalRecords = ViewBag.TotalRecords,
                    ControllerName = "SearchResults"

                };
                                                @Html.Partial("PaginationPartial", paginationModel)
                                            }
                                            else
                                            {
                                                <p>No results found.</p>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-quarter">
                                    <form action="eligible-list" method="post" novalidate="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>