@model CheckYourEligibility_FrontEnd.Models.ApplicationSearch;

@{
    ViewData["Title"] = "Application Search";
}

<a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
@* <a class="govuk-back-link-nolink"></a> *@

<div class="govuk-grid-row">

    @if (!ViewData.ModelState.IsValid)
    {
        ViewData["Title"] = "Error: Check Details";
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
    }

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Search all records
        </h1>
        <p>Fill in any of the fields on this page to find a free school meal record.</p>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <form asp-controller="Application" asp-action="SearchResults" method="post" class="form">


        <!-- SEARCH BAR -->
        <div class="cardDesign">


            <div id="PersonName">

                <div class="govuk-grid-row">


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Child last name
                            </h6>
                            <p class="govuk-error-message">
                                <span asp-validation-for="ChildLastName"></span>
                            </p>
                                <input id="ChildLastName" class="govuk-input @(ViewData.ModelState["ChildLastName"]?.Errors.Count > 0 ? "govuk-input--error" : "")" type="text" name="ChildLastName" value="" placeholder="Child surname">

                        </div>
                    </div>
                    <!--COL 1-->


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Parent or guardian last name
                            </h6>
                                <p class="govuk-error-message">
                                    <span asp-validation-for="ParentLastName"></span>
                                </p>
                                <input id="ParentLastName" class="countryAutocomplete govuk-input @(ViewData.ModelState["ParentLastName"]?.Errors.Count > 0 ? "govuk-input--error" : "")" type="text" name="ParentLastName" value="" placeholder="Parent last name">
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row">


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Reference number
                            </h6>
                                <p class="govuk-error-message">
                                    <span asp-validation-for="Reference"></span>
                                </p>
                                <input id="Reference" class="govuk-input @(ViewData.ModelState["Reference"]?.Errors.Count > 0 ? "govuk-input--error" : "")" type="text" name="Reference" value="" placeholder="Reference number">

                        </div>
                    </div>
                    <!--COL 1-->


                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <h6 class="govuk-heading-xxs HO-uk-margin-bottom-1">
                                Status
                            </h6>


                            <div class="govuk-form-group">


                                <select class="govuk-select" id="Status" name="Status">


                                    <option value="">All statuses</option>


                                    <option value="Entitled">Entitled</option>


                                    <option value="EvidenceNeeded">Evidence needed</option>


                                    <option value="SentForReview">Sent for review</option>
                                      
                                    <option value="ReviewedEntitled">Reviewed entitled</option>

                                    <option value="ReviewedNotEntitled">Reviewed not entitled</option>
                                        
                                    <option value="Receiving">Receiving entitlement</option>


                                </select>

                            </div>


                        </div>
                    </div>

                </div>


                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-quarter">


                    </div>
                </div>


                <!-- CHILD -->
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-quarter">


                        <div class="govuk-form-group HO-uk-margin-bottom-3">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Child date of birth
                                </legend>
                                    <span asp-validation-for="ChildDob" class="govuk-error-message"></span>
                                <div class="govuk-date-input" id="ChildDob">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ChildDOBDay">
                                                Day
                                            </label>
                                                <input asp-for="ChildDobDay" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ChildDob.ChildDobDay"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="ChildDobDay" name="ChildDobDay" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Day">
                                            </div>


                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ChildDobMonth">
                                                Month
                                            </label>
                                                <input asp-for="ChildDobMonth" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ChildDob.ChildDobMonth"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="ChildDobMonth" name="ChildDobMonth" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Month">
                                            </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ChildDobYear">
                                                Year
                                            </label>
                                                <input asp-for="ChildDobYear" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ChildDob.ChildDobYear"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="ChildDobYear" name="ChildDobYear" inputmode="text" maxlength="4" type="text" inputmode="numeric" aria-label="Year">
                                            </div>

                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>


                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">


                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Parent or guardian date of birth
                                </legend>
                                    <span asp-validation-for="ParentDob" class="govuk-error-message"></span>
                                <div class="govuk-date-input" id="ParentDob">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="PGDOBDay">
                                                Day
                                            </label>
                                                <input asp-for="PGDobDay" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ParentDob.PGDobDay"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="PGDobDay" name="PGDobDay" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Day">
                                        </div>

                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="PGDOBMonth">
                                                Month
                                            </label>
                                                <input asp-for="PGDobMonth" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ParentDob.PGDobMonth"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="PGDobMonth" name="PGDobMonth" inputmode="text" maxlength="2" type="text" inputmode="numeric" aria-label="Month">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="PGDOBYear">
                                                Year
                                            </label>
                                                <input asp-for="PGDobYear" class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["ParentDob.PGDobYear"]?.Errors.Count > 0 ? "govuk-input--error" : "")" id="PGDobYear" name="PGDobYear" inputmode="text" maxlength="4" type="text" inputmode="numeric" aria-label="Year">
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
                <!-- SEX -->
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-full">

                        <form action="eligible-list">
                            <button class="govuk-button govuk-button HO-button-white moj-button-menu__item govuk-!-margin-top-6" data-module="govuk-button">
                                Generate results
                            </button>

                        </form>


                    </div>


                </div>


            <!-- EXPLANATIONS REMOVED FOR V2 -->


            </div>
            <!--END SHOW/HIDE -->


        </div>
    </form>

    <!-- END CARD // SEARCH BAR -->


    </div>
</div>